.l-header {
  background-color: #FFFFFD;
  color: #2E2D27;
}

.l-header .header-identity-wrapper .header-site-name-link {
  color: #2E2D27;
}

.block-theme-hooks-stanford-decanter-identity-bar .block-content,
.block-theme-hooks-stanford-decanter-identity-bar .block-content a,
.block-theme-hooks-stanford-decanter-identity-bar .block-content a:hover,
.global-footer,
.global-footer a,
.global-footer a:hover
{
  background-color: #8C1517;
  color: #FFFFFC;
}

.header-menu .links a,
.l-header .block-menu ul.menu > li > a {
  color: #2E2D26;
}
body .header-menu .links a:after {
  background-color: #2E2D26;
}

.l-sidebar .block-menu ul.menu a,
.l-header .block-menu ul.menu a {
  color: #2E2D26;
}

.l-sidebar .block-menu ul.menu a:hover,
.l-header .block-menu ul.menu a:hover {
  color: #8C1518;
}
.l-header .l-header-inner .block-system-main-menu .block-content ul.menu > li > a::before {
  background-color: #8C1518;
}

.l-header .l-header-inner .block-system-main-menu ul
{
  background-color: #FFFFFB;
}


.hero .card-paragraph {
  color: #2E2D28;
}


html body {
  background-color: #FFFFFE;
  color: #2E2D28;
}


.breadcrumb li a {
  color: #2E2D28;
}
.breadcrumb li a:hover {
  color: #000;
}

.l-footer {
  background-color: #F4F4F4;
  border-top: 1px solid #F4F4F3;
  color: #2E2D25;
}

/* Logo */
html body .header-identity-wrapper::before {
  color: #8C1516;
}

/* Body links */
.l-footer a,
.field-name-body a,
body a {
  color: #006CB8;
}



/* Title links */
h3 a, h4 a, h5 a, h6 a, body .node-readmore a
{
  color: #B1040D;
  text-decoration-color: #B1040D;
}
.view-mode-card {
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2E2D28;
  }
}

.node-stanford-person .field-name-field-s-person-profile-picture {
  border-color: #B1040D;
}

.cta-btn,
.cta-button {
  background-color: #B1040D;
}
