.l-header {
  background-color: #FFFFFD;
  color: #2E2D27;
}

.header-identity-wrapper a,
.l-header .header-identity-wrapper .header-site-name-link {
  color: #2E2D27;
}

.l-header .block-search-form .form-actions .form-submit,
.menu-toggle-button-icon, .menu-toggle-button-icon:before, .menu-toggle-button-icon:after
{
  background-color: #2E2D27;
}

.block-theme-hooks-stanford-decanter-identity-bar .block-content,
.block-theme-hooks-stanford-decanter-identity-bar .block-content a,
.block-theme-hooks-stanford-decanter-identity-bar .block-content a:hover,
.global-footer,
.global-footer a,
.global-footer a:hover
{
  background-color: #8C1517;
  color: #FFFFFC;
}

.header-menu .links a,
.l-header .block-menu ul.menu li a,
.l-sidebar .block-menu ul.menu li a
{
  color: #2E2D26;
}
body .header-menu .links a:after {
  background-color: #2E2D26;
}

.l-sidebar .block-menu ul.menu li a:hover,
.l-header .block-menu ul.menu li a:hover {
  color: #8C1518;
}
.l-header .block-menu ul.menu > li a::before, .l-header .block-menu ul.menu-dropdown > li a::before,
.l-header .block-system-main-menu .block-content ul.menu > li > a::before {
  background-color: #8C1518;
}

.l-header .block-system-main-menu ul
{
  background-color: #FFFFFB;
}

.hero .card-paragraph {
  color: #2E2D28;
}

html body {
  background-color: #FFFFFE;
  color: #2E2D28;
}

.breadcrumb li a {
  color: #2E2D28;
}
.breadcrumb li a:hover {
  color: #000;
}

.l-footer, .l-stanfordfooter {
  background-color: #F4F4F4;
  border-top: 1px solid #F4F4F3;
  color: #2E2D25;
}

html body .l-footer a {
  color: #2E2D25;
}

/* Logo */

html body .header-identity-wrapper .logo a {
  color: #8C1516;
}

/* Body links */
.views-field-body a,
.l-footer a,
.field-name-body a,
.l-content a
{
  color: #006CB8;
}
.l-content a.btn, .l-content a.button {
  color: #fff;
}
a.cta::after,
a.primary::after,
.field-name-body .link--cta-primary::after,
.field-name-body .cta-link::after
{
   background-color: #006CB8;
}


/* Title links */
h3 a, h4 a, h5 a, h6 a, body .node-readmore a,
.node-title a:hover
{
  color: #B1040D;
  text-decoration-color: #B1040D;
}
.header-menu ul li a:hover {
  text-decoration-color: #B1040D;
}

.node-stanford-person .field-name-field-s-person-profile-picture {
  border-color: #B1040D;
}

.btn,
.button,
.cta-btn,
.cta-button {
  background-color: #B1040D;
  color: #fff
}
.view-mode-card {
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2E2D28;
  }
}

/* Form items */
[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select
{
  outline:none;
  border-color: #53565A;
}
[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #006CB7;
}
