/**
 * Specialized overrides and hotfixes. This file is not compiled by tailwind.
 */

 /**
 * Marker
 */
 .marker {
  font-size: 0.875em;
  display: inline-block;
  margin: 0 0.4em;
  padding: 0.3em 0.6em;
  text-transform: uppercase;
  line-height: 1;
  font-style: italic;
}

/**
 * More help link
 */
.more-help-link {
  text-align: right;
}

.more-help-link a {
  display: inline-block;
  text-decoration: none;
}

.more-help-link a:before {
  content: '?';
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  margin: 0 0.4em 0 0;
  border-radius: 50%;
  font-weight: 600;
  text-align: center;
}


/**
 * List Components
 */
 .item-list h3 + ol,
 .item-list h3 + ul {
   margin-top: 0;
 }

 .item-list ol,
 .item-list ul,
 ul.links,
 .links ul {
   padding: 0 0 0 1.3em;
 }

 .links li {
   position: relative;
   list-style: none;
 }

 .links a {
   display: block;
   text-decoration: none;
   font-weight: normal;
   padding-right: 1.5em;
 }

 .links a:after {
 }

 .links.inline li:before {
   display: none;
 }

 .links.inline {
   margin: 0;
   padding: 0;
   overflow: hidden;
   list-style: none;
 }

 .links.inline li {
   display: inline-block;
   padding: 0 0.6em 0 0;
 }

 .links.inline li:after {
   content: ',';
   position: static;
   display: inline;
   transform: none;
   border: 0;
 }

 .links.inline li:last-child:after {
   content: '';
 }

 .links.inline .node-readmore {
   display: block;
 }

 .links.inline .node-readmore:after {
   content: '';
 }

 @media (min-width: 48em) {
  .block-content .menu-dropdown a {
    white-space: wrap;
  }
 }